{% extends "rango/base.html" %}

{% load bootstrap3 %}

{% block title %}Login{% endblock %}

{%  block body_block %}
  <div class="page-header">  
    <h1>Please Sign In</h1>
  </div>

  {% bootstrap_messages %}
  <form class="col-sm-6 col-xs-12" id="login_form" method="POST" action="">
    {% csrf_token %}
    {%bootstrap_form form %}

    {% buttons %}
    <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">Sign In</button>
    {% endbuttons %}
    <p>Not a member? <a href="{% url 'registration_register' %}">Register</a>!</p>
  </form>
{% endblock %}