{% extends "rango/base.html" %}

{% load bootstrap3 %}

{% block title %}Change Password{% endblock %}

{% block body_block %}
  <div class="page-header">
    <h1>Change Your Password</h1>
  </div>

  {% bootstrap_messages %}
  <form class="col-sm-6 col-xs-12" id="password_change_form" method="POST" action="">
    {% csrf_token %}
    {%bootstrap_form form %}

    {% buttons %}
    <button class="btn btn-lg btn-primary btn-block" type="submit" value="Change Password">Change Password</button>
    {% endbuttons %}
  </form>

{% endblock %}