{% extends 'rango/base.html' %}

{% load bootstrap3 %}

{% block title %}Add a Page{% endblock %}

{% block body_block %}
  <div class="page-header">  
    <h1>Add a Page</h1>
  </div>

  {% bootstrap_messages %}
  <form class="col-sm-6 col-xs-12" id="page_form" method="POST" action="">
    {% csrf_token %}
    {%bootstrap_form form %}

    {% buttons %}
    <button class="btn btn-lg btn-primary btn-block" type="submit" value="Create Page">Create Page</button>
    {% endbuttons %}
  </form>
{% endblock %}