{% extends 'rango/base.html' %}

{% load bootstrap3 %}

{% block title %}Add Category{% endblock %}

{% block body_block %}
  <div class="page-header">
    <h1>Add a Category</h1>
  </div>

  {% bootstrap_messages %}
  <form class="col-sm-6 col-xs-12" id="category_form" method="POST" action="/rango/add_category/">
    {% csrf_token %}
    {%bootstrap_form form %}

    {% buttons %}
    <button class="btn btn-lg btn-primary btn-block" type="submit" value="Create Category">Create Category</button>
    {% endbuttons %}

  </form>
{% endblock %}