{% extends 'rango/base.html' %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
  <div class="page-header">  
    <h1>{{ category_name }}</h1>
    <p>
      {% if user.is_authenticated %}
      <button id="likes" data-catid="{{ category.id }}" class="btn btn-primary btn-sm" type="button"><span class="glyphicon glyphicon-thumbs-up"></span> Like</button>
      {% endif %}
      <span id="likes_count">{{ category.likes }}</span> people like this!
    </p>
  </div>

  {% if category %}

    <div class="row">
      <div class="panel panel-default">

      {% if pages %}
        <div class="list-group page">
        {% for page in pages|dictsortreversed:"views" %}
          <a class="list-group-item" href="{% url 'goto' %}?page_id={{ page.id }}" target="_blank">
            {{ page.title }}

            {% if page.views > 1 %}
            <span class="badge">{{ page.views }} views</span>
            {% elif page.views == 1 %}
            <span class="badge">{{ page.views }} view</span>
            {% endif %}

          </a>
        {% endfor %}
        </div>

      {% else %}
        <strong>No pages currently in category</strong><br>

      {% endif %}
      </div>
    </div>

    {% if user.is_authenticated %}

    <div class="row">
      <form class="col-sm-6 col-xs-12" id="search_form" method="POST" action="{% url 'category' category.slug %}">
        {% csrf_token %}
        <div class="form-group required">     
          <label class="control-label" for="query">Search the Web</label>
          <input class="form-control" type="text" name="query" value="{{ query }}" id="query" placeholder="Search Query" required>
        </div>
        <div class="form-group">     
          <button class="btn btn-primary btn-block" type="submit" value="Search">Search</button>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="panel panel-default">
      {% if result_list %}

        <div class="panel-heading">
          <h3 class="panel-title">Results</h3>
        </div>

        <div class="list-group">
        {% for result in result_list %}
          <div class="list-group-item">
            <h4 class="list-group-item-heading">
              <a href="{{ result.link }}" target="_blank">{{ result.title }}</a>
            </h4>
            <p class="list-group-item-text">
              {% if user.is_authenticated %}
                <button data-catid="{{ category.id }}" data-title="{{ result.title }}" data-url="{{ result.link }}" class="rango-add btn btn-xs btn-info" type="button">Add</button>
              {{ result.summary }}
            </p>
            {% endif %}
          </div>
        {% endfor %}
        </div>

      {% endif %}
      </div>
    </div>

    <a href="{% url 'add_page' category.slug %}">Add a page to this category: <strong>{{ category_name }}</strong></a>

    {% endif %}

  {% else %}
    The specified category {{ category_name }} does not exist!
  {% endif %}
{% endblock %}