{% extends 'rango/base.html' %}

{% block title %}Index{% endblock %}

{% block body_block %}
  
  <div class="page-header">
  {% if user.is_authenticated %}
    <h1>Rango says...hello {{ user.username }}!</h1>
  {% else %}
    <h1>Rango says...hello world!</h1>
  {% endif %}
  </div>

  <div class="row">

    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Top Categories</h3>
        </div>
      </div>

      {% if categories %}
        <div class="list-group">
        {% for category in categories %}
          <a class="list-group-item" href="{% url 'category' category.slug %}">
            {{ category.name }}
            {% if category.likes > 1 %}
            <span class="badge">{{ category.likes }} likes</span>
            {% elif category.likes == 1 %}
            <span class="badge">{{ category.likes }} like</span>
            {% endif %}
          </a>

        {% endfor %}
        </div>
      {% else %}
        <strong>There are not categories currently.</strong>
      {% endif %}

    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Top Pages by Views</h3>
        </div>
      </div>

      {% if pages %}
        <div class="list-group">
        {% for page in pages %}

          <a class="list-group-item" href="{% url 'goto' %}?page_id={{ page.id }}" target="_blank">
            {{ page.title }}
            {% if page.views > 1 %}
            <span class="badge">{{ page.views }} views</span>
            {% elif page.views == 1 %}
            <span class="badge">{{ page.views }} view</span>
            {% endif %}
          </a>

        {% endfor %}
        </div>
      {% else %}
        <strong>There are not pages currently.</strong>
      {% endif %}

    </div>
    
  </div>
{% endblock %}